<div class="c-image-comparison">
  <div #container class="c-image-comparison__container">
    <!-- Before Image -->
    <div class="c-image-comparison__image c-image-comparison__image--before">
      <img *ngIf="beforeImage" [src]="beforeImage" alt="Before">
      <div class="c-image-comparison__label c-image-comparison__label--before">
        <app-text-caption color="muted">{{beforeLabel}}</app-text-caption>
      </div>
    </div>
    
    <!-- After Image (clipped) -->
    <div class="c-image-comparison__image c-image-comparison__image--after" [style.clip-path]="'inset(0 ' + (100 - position) + '% 0 0)'">
      <img *ngIf="afterImage" [src]="afterImage" alt="After">
      <div class="c-image-comparison__label c-image-comparison__label--after">
        <app-text-caption color="muted">{{afterLabel}}</app-text-caption>
      </div>
    </div>
    
    <!-- Slider -->
    <div
      #slider
      class="c-image-comparison__slider"
      (mousedown)="onMouseDown($event)"
      (touchstart)="onTouchStart($event)">
      
      <div class="c-image-comparison__slider-handle">
        <div class="c-image-comparison__slider-arrow c-image-comparison__slider-arrow--left">◀</div>
        <div class="c-image-comparison__slider-arrow c-image-comparison__slider-arrow--right">▶</div>
      </div>
    </div>
    
    <!-- Position Indicator -->
    <div class="c-image-comparison__position">
      {{position.toFixed(0)}}%
    </div>
  </div>
</div>