img {
  object-fit: cover;
  display: block;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Urbanist', sans-serif;
  user-select: none;
}
