:host {
  display: block;
}

p {
  margin: 0;
  padding: 0;

  /* Size */
  &.text-xs {
    font-size: var(--text-xs);
    line-height: 1.5;
  }

  &.text-sm {
    font-size: var(--text-sm);
    line-height: 1.5;
  }

  &.text-base {
    font-size: var(--text-base);
    line-height: 1.5;
  }

  &.text-lg {
    font-size: var(--text-lg);
    line-height: 1.5;
  }

  &.text-xl {
    font-size: var(--text-xl);
    line-height: 1.5;
  }

  /* Weight */
  &.weight-normal {
    font-weight: 400;
  }

  &.weight-medium {
    font-weight: 500;
  }

  &.weight-semibold {
    font-weight: 600;
  }

  &.weight-bold {
    font-weight: 700;
  }

  /* Color */
  &.color-default {
    color: var(--color-gray-800);
  }

  &.color-muted {
    color: var(--color-gray-600);
  }

  &.color-primary {
    color: var(--color-primary);
  }

  &.color-error {
    color: var(--color-error);
  }
}