<div class="dropdown-wrapper" [style.width]="width">
  
  <!-- Trigger -->
  <button
    class="dropdown-trigger"
    [class.disabled]="disabled"
    (click)="toggle()"
    type="button"
  >
    <span class="selected">{{ selectedLabel }}</span>

    <span class="icon" [class.open]="isOpen">▾</span>
  </button>

  <!-- Dropdown Panel -->
  <div class="dropdown-panel" *ngIf="isOpen">
    <div
      *ngFor="let opt of options; let i = index"
      class="dropdown-option"
      [class.disabled]="opt.disabled"
      [class.selected]="opt.value === value"
      [class.highlighted]="i === highlightedIndex"
      (click)="select(opt)"
    >
      {{ opt.label }}
    </div>
  </div>

</div>
