.checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-family: "Urbanist", sans-serif;
  user-select: none;

  input {
    display: none;
  }

  .checkmark {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2563eb;
    border-radius: 4px;
    transition: 0.2s ease-in-out;
  }

  .tick {
    display: block;
  }

  .label-text {
    font-size: 15px;
  }
}
