.radio-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  user-select: none;
  font-family: "Urbanist", sans-serif;

  input {
    display: none;
  }

  .dot {
    border: 2px solid #2563eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.15s;
  }

  .inner {
    border-radius: 50%;
    transition: 0.2s;
  }

  .label-text {
    font-size: 15px;
  }
}
