<label class="radio-container">
  <input
    type="radio"
    [value]="value"
    [checked]="control.value === value"
    (change)="onSelect()"
  />

  <span
    class="dot"
    [style.width.px]="size"
    [style.height.px]="size"
    [style.borderColor]="color"
  >
    <span
      class="inner"
      *ngIf="control.value === value"
      [style.background]="color"
      [style.width.px]="size / 2"
      [style.height.px]="size / 2"
    ></span>
  </span>

  <span class="label-text">{{ label }}</span>
</label>
