<div class="c-input-text">
  <label *ngIf="label" class="c-input-text__label">
    {{label}}
    <span *ngIf="required" class="c-input-text__required">*</span>
  </label>
  
  <input 
    [type]="type"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (input)="onInput($event)"
    (blur)="onTouched()"
    class="c-input-text__field"
    [class.c-input-text__field--error]="error"
    [class.c-input-text__field--disabled]="disabled">
  
  <div *ngIf="helpText && !error" class="c-input-text__help">
    {{helpText}}
  </div>
  
  <div *ngIf="error" class="c-input-text__error">
    {{error}}
  </div>
</div>