<div class="modal-backdrop" *ngIf="open" (click)="closeOnBackdrop && closeModal()">
  <div class="modal" [style.width]="width" (click)="$event.stopPropagation()">

    <!-- HEADER SLOT -->
    <div class="modal-header">
      <ng-content select="[modal-header]"></ng-content>

      <button class="close-btn" *ngIf="!disableClose" (click)="closeModal()">
        ✕
      </button>
    </div>

    <!-- BODY SLOT -->
    <div class="modal-body">
      <ng-content select="[modal-body]"></ng-content>
    </div>

    <!-- FOOTER SLOT -->
    <div class="modal-footer">
      <ng-content select="[modal-footer]"></ng-content>
    </div>

  </div>
</div>
