<div class="c-metric-card">
  <div class="c-metric-card__label">{{ label }}</div>

  <div class="c-metric-card__value">{{ value }}</div>

  <div class="c-metric-card__trend" *ngIf="trend !== undefined">
    <span
      class="c-metric-card__trend-value"
      [class.c-metric-card__trend-value--positive]="trendPositive"
      [class.c-metric-card__trend-value--negative]="!trendPositive"
    >
      {{ trend | number : '1.0-1' }}%
    </span>
    <span class="c-metric-card__trend-text">
      {{ trendPositive ? 'vs last period' : 'drop vs last period' }}
    </span>
  </div>

  <div class="c-metric-card__description">
    {{ description }}
  </div>
</div>
